
obj/Debug/HuPracticum5_MarkupCompile.lref
obj/Debug/HuPracticum5_MarkupCompile.i.lref
obj/Debug/HuPracticum5_MarkupCompile.i.cache
obj/Debug/HuPracticum5_MarkupCompile.cache
obj/Debug/HuPracticum5.csproj.FileListAbsolute.txt
obj/Debug/HuPracticum5.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/HuPracticum5/v15/Server/sqlite3/storage.ide-wal
.vs/HuPracticum5/v15/Server/sqlite3/storage.ide-shm
.vs/HuPracticum5/v15/Server/sqlite3/storage.ide
.vs/HuPracticum5/v15/Server/sqlite3/db.lock
